# .NET Build Results
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Uu]serFiles/

# Build output folders
**/bin/
**/obj/
*.dll
*.pdb
*.cache

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
**/project.lock.json
**/project.fragment.lock.json
./artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates